.container{
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.wrapper{
    position: fixed;
    height: 24vh;
    top: 0;
    right: 0;
    left:0;
    padding: 0 1rem 0 1rem;
    background-color: #909090;
}
.details{
    font-size: 5vh;
    margin-top: 1vh;
    color: #F6F2F2;
}