.container{
    display: flex;
    flex-direction: column;
    position: relative;
    
    height: 100%;
    width: 100%;
}
.wrapper{
    position: fixed;
    height: 24vh;
    top: 0;
    right: 0;
    left:0;
    padding: 0 1rem 0 1rem;
    background-color: #909090;
}
.count{
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vh;
    width: 100%;
    color: #ffffff;
}

.exercises{
    font-size: 4vh;
    margin-top: 1vh;
    color: #F6F2F2;
}

.button{
    background-color: #97FB57;
    border: none;
    border-radius: 0.5rem;
    height: 6vh;
    width: 35vw;
    font-size: 1rem;
    font-weight: 700;
}
.search input {
    display: flex;
    width: 35vw;
    height: 6vh;
    font-size: 1rem;
    text-align: start;
    border-radius: 0.5rem;
}

.btn-search-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    margin: 1vh;
}

.render{
    margin-top: 24vh;
    padding: 0 1vh 0 1vh;
    overflow-y: scroll; 
    height: 61vh;
    background-color: #ffffff;
}

.container-items{
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    width: 100%;
    font-size: 2vh;
    color: #909090;
    padding: 1vh;
    border-radius: 0.5rem;
}
.athletee{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    border-bottom: 1px solid #F6F2F2;
    height: 10vh;
    
}
.image{
    display: flex;
    height: 7vh;
    width: 7vh;
    border: 1px solid #97FB57;
    border-radius: 50%;
    padding: 4vh;
    background-size: cover;
    background-position: center;
}
