.container{
    display: flex;
    flex-direction: column;
    position: relative;
    
    height: 100%;
    width: 100%;
}
.wrapper{
    position: fixed;
    height: 24vh;
    top: 0;
    right: 0;
    left:0;
    padding: 0 1rem 0 1rem;
    background-color: var(--main-color);
}
.count{
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vh;
    width: 100%;
    color: var(--white-color);
}

.exercises{
    font-size: 4vh;
    margin-top: 1vh;
    color: var(--white-color);
    width: 100%;
}

.button{
    cursor: pointer;
    background-color: var(--accent-color);
    border: none;
    border-radius: 0.5rem;
    height: 6vh;
    width: 35vw;
    font-size: 2vh;
    font-weight: 700;
    color: var(--white-color);
}
.search input {
    display: flex;
    width: 35vw;
    height: 6vh;
    font-size: 1rem;
    text-align: start;
    border-radius: 0.5rem;
    font-size: 2vh;
}

.btn-search-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    margin: 1vh;
}

.render{
    margin-top: 24vh;
    padding: 0 1vh 0 1vh;
    overflow-y: scroll; 
    height: 64vh;
    background-color: var(--main-color);
}

.container-items{
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    width: 100%;
    font-size: 2vh;
    color: var(--white-color);;
    padding: 1vh;
    border-radius: 0.5rem;
}
.exercise{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-bottom: 1px solid var(--light-color);;
    height: 10vh;
    
}

.item{
    display: flex;
    align-items: center;

}

.metrictype{
   margin-left: auto;
   font-size: 0.5rem;
}

@media (min-width: 600px){
    .container{
        width: 60vw;
        margin-left: auto;
        margin-right: auto;
    }

    .btn-search-container{
        width:100%;
        margin-left: auto;
        margin-right: auto;
    }
    .wrapper{
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    .button{
        width: 20vw;
    }
    .search input {
        width: 20vw;
    }
    .container-items{
        width: 60%;
    }

}