.container{
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    background-color: #F6F2F2;
    height: 2rem;
}