.container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    width: 60vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(0deg, #909090 0%, #F6F2F2 100%);
    color: #121212;
    font-size: 2.5vh;
}

.formcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.button{
    cursor: pointer;
    margin: 1rem;
    width: 4rem;
    height: 2rem;
    border-radius: 0.5rem;
    border: 0px;
    background-color: #97FB57;
    color: #121212;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.75rem;
}

.input{
    width: 40vw;
}

.registertxt{
    margin-bottom: 10vh;
}

.label{
    margin-top: 1vh;
    font-size: 1.75vh;
}

.error{
    height: 2vh;
    font-size: 1.75vh;
    color: rgb(219, 98, 98);
    padding: 0.25vh;
}

.success{
    color: #97FB57;
    font-size: 2vh;
    height: 2vh;
}