.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: var(--main-color);;
    color: var(--dark-color);;
    font-size: 2.5vh;
}

.formcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.button{
    cursor: pointer;
    margin: 1rem;
    width: 20vw;
    height: 2rem;
    border-radius: 0.5rem;
    border: 0px;
    background-color: var(--accent-color);;
    color: var(--dark-color);;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    font-size: 2vh;
    color: white;
}


.input{
    position: relative;
    font-size: 2.5vh;
    width: 40vw;
    height: 6vh;
}

.input::placeholder{
    opacity:0;
}

.label{
    position:relative;
    margin-top: 1vh;
    font-size: 1.75vh;
}


.span{
    position:absolute;
    top:25%;
    left: 1vh;
    font-size: 2.5vh;
    transition-duration:300ms;
    opacity: 0.5;
}

.label:focus-within > .span,
input:not(:placeholder-shown) + .span{
    background-color: var(--white-color);
    font-size: 1.75vh;
    transform:translateY(-2.5vh);
    opacity: 1;
}

.logintxt{
    margin-bottom: 10vh;
}

.registertxt{
    cursor: pointer;
    color: var(--white-color);
    font-size: 2.5vh;
}

.loginicon{
    height: 5vh;
}


.error{
    height: 2vh;
    font-size: 1.75vh;
    color: rgb(219, 98, 98);
    padding: 0.25vh;
    margin-bottom: 2vh;
}

.loading{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    background-color: var(--main-color);;
}
.rotation{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white-color);
    animation: rotation 2s infinite linear;
}
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

@media (min-width: 600px) {
    .input{
        width: 20vw;
    }
    .button{
        width: 10vw;
        height: 3rem;
    }
  }