.container{
    display: flex;
    flex-direction: row;
    gap: 1vh;
}



.container input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.container input[type="date"] {
    color: white;
    font-size: 0.75rem;
    background-color: var(--main-color);
    border: 1px solid var(--light-color)
}

.reset{
    cursor: pointer;
    display: flex;
    align-items: center;
    color: var(--white-color);
    background-color: var(--accent-color);
    font-size: 0.7rem;
    border-radius: 5px;
    padding: 0.5vh 0.5vw;
}
.error{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    color: #c06363;
    font-size: 2vh;
    background-color: white;
    padding: 0.5vh;
    border-radius: 5px;
    text-align: center;
}