.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.25vh;
    padding: 0.25vh;
    background-color: white;
    border-radius: 5px;
}
.label{
    margin-top: 2vh;
}

.input{
    width: 8vw;
    border: none;
    background-color: white;
}

.input::placeholder{
    font-size: 2vh;;
}
