.timeinputcontainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 28vw;

}
.label{
    margin-top: 2vh;
}

.timeinputcontainer input{
    border: none;
    background-color: white;
    width: 6vw;
    font-size: 1.75vh;
}

.input::placeholder{
    font-size: 1.75vh;
}
.input::placeholder:active{
    font-size: 2vh;
}
