.timeinputcontainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.label{
    margin-top: 2vh;
}

.timeinputcontainer input{
    border: none;
    background-color: white;
    width: 5vw;
    font-size: 1.75vh;
}

.input::placeholder{
    font-size: 1.75vh;
}
.input::placeholder:active{
    font-size: 2vh;
}


@media (min-width: 600px){
    .timeinputcontainer input{
        width: 3vw;
    }
}
