.container{
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.wrapper {
    display: fixed;
}
.container-items{
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.home{
    margin: 2rem;
}

.button{
    background-color: #97FB57;
    border: none;
    border-radius: 0.5rem;
    height: 2rem;
    font-weight: 700;
}
.search input {
   display: flex;
   margin: 0.5rem 0 0 auto;
   width: 8rem;
   height: 2rem;
   border-radius: 0.5rem;
}
.render{
    overflow: scroll;
    height: 100%;
    width: 100%;
}
.athletee{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    border-bottom: 1px solid #F6F2F2;
    height: 8rem;
}
.image{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    background-color: #909090;
    background-size: cover;
    background-position: center;
}
