.container{
    display: flex;
    flex-direction: column;
    position: relative;
    
    height: 100%;
    width: 100%;
}
.wrapper{
    position: fixed;
    height: 24vh;
    top: 0;
    right: 0;
    left:0;
    padding: 0 1rem 0 1rem;
    background-color: #909090;
}
.count{
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vh;
    width: 100%;
    color: #ffffff;
}

.home{
    font-size: 4vh;
    margin-top: 1vh;
    color: #F6F2F2;
}

.button{
    cursor: pointer;
    background-color: #F6F2F2;
    border: none;
    border-radius: 0.5rem;
    border-left: 1px solid #97FB57;
    border-right: 1px solid #97FB57;
    height: 6vh;
    width: 35vw;
    font-size: 1rem;
    font-weight: 700;
}
.search input {
    display: flex;
    width: 35vw;
    height: 6vh;
    font-size: 1rem;
    text-align: start;
    border-radius: 0.5rem;
}

.btn-search-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    margin: 1vh;
}

.render{
    margin-top: 24vh;
    padding: 0 1vh 0 1vh;
    overflow-y: scroll; 
    height: 61vh;
    background-color: #ffffff;
}

.container-items{
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    width: 100%;
    font-size: 2.5vh;
    color: #909090;
    padding: 1vh;
    border-radius: 0.5rem;
}
.athleteecontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.athletee{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 1rem;
    border-bottom: 1px solid #F6F2F2;
    height: 10vh;
    
}
.image{
    display: flex;
    height: 7vh;
    width: 7vh;
    border: 0px solid #97FB57;
    border-radius: 50%;
    padding: 4vh;
    background-size: cover;
    background-position: center;
}
.addresults{
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    font-size: 0.7rem;
    text-align: center;
    margin-left: auto;
    order: 2;
    color:#121212;
    margin-right: 5px;
    background: linear-gradient(0deg, #909090 0%, #F6F2F2 25%);
    border-radius: 0.5rem;
    border-bottom: 1px solid #97FB57;
    font-weight: 500;
    padding: .25rem;
}
