.container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;

    background-color: var(--main-color);;
    border: 1px solid var(--light-color);;
    font-size: 2vh;

    overflow-y: scroll;
}

.table {
    width: 100%;
    text-align: center;
}

.container input[type="date"]{
    border: none;
    width: 28vw;
    height: 5vh;
    background-color: var(--white-color);
    font-size: 1.9vh;
    text-align: center;
}

.container input[type="text"]{
    width: 28vw;
    height: 5vh;
    border-radius: 0;
    font-size: 2vh;
    border: var(--white-color);
}

.container input[type="number"]{
    font-size: 2vh;
    text-align: center;
}
.inputnumber{
    width: 28vw;
}

.container input:focus {
    border: none;
}

.container table {
    border-collapse: collapse;
}

.container th, .container td {
    border: 1px solid var(--main-color);;
    background-color: var(--white-color);
}
.container select {
    text-align: center;
    border: none;
    appearance: none;
    word-wrap: break-word;
    width: 28vw;
    height: 5vh;
    font-size: 2vh;
}

.container select:active select:focus {
    border: none;
    border: 0px solid;
}

.trash {
    cursor: pointer;
    height: 3vh;
    padding: 0.3vh;
    color: #c06363;
}
.back {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    padding-top: 1vh;
    padding-bottom: 1vh;
    background-color: var(--accent-color);;
    margin-left: auto;
    margin-right: auto;
    margin: 2vh 2vh;
    border-radius: 5px;
    color: white;
}

.newresult {
    width: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.addresult th{
    height: 5vh;
    background-color: var(--main-color);
    color: var(--white-color);
}


.ok {
    cursor: pointer;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 3vh;
    width: 3vh;
    border-radius: 50%;
    background-color: var(--accent-color);
    font-size: 1.5vh;
    color: var(--white-color);
    margin-left: auto;
    margin-right: auto;
}
.tdok {
    cursor: pointer;
    height: 6vh;
    width: 8vw;
    border: 0px solid var(--dark-color);
}
.ban{
    cursor: pointer;
    width: 3vh;
}

.success{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:#97FB57;
    background-color: var(--white-color);
    border-radius: 5px;
    width:30vw;
    height: 8vh;
}

.image{
    display: flex;
    height: 3vh;
    width: 3vh;
    border-radius: 50%;
    padding: 4vh;
    background-size: cover;
    background-position: center;
}
.age{
    margin-bottom: 2vh;
    color: var(--white-color);
}
.name{
    color: var(--white-color);
}
.search{
    border: 1px solid var(--light-color);
    margin-bottom: 1vh;
    margin-right: auto;
}
.search input[type="text"]{
    height: 4vh;
    max-width: 35vw;
}
.updown {
    cursor: pointer;
    width: 2vh;
}

@media (min-width: 600px){
    .container{
        width: 60vw;
        left: 20%;
    }
    .search nput[type="text"]{
        max-width: 25vw;
    }
    .container select {
        width: 14vw;
    }
    
    .container input[type="date"], .container input[type="text"] {
        width: 14vw;
    }
    
    .inputnumber {
        width: 15vw;
    }
}