.container form{
    position: absolute;
    display: flex;
    height: 85vh;
    width:90%;
    gap: 0.5rem;
    background: linear-gradient(0deg, #909090 0%, #F6F2F2 100%);
    color: #121212;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 0.5rem;
    padding: 1rem;
    overflow-y: scroll;
}

.button{
    cursor: pointer;
    width: 4rem;
    height: 1.25rem;
    border-radius: 0.5rem;
    border: 0px;
    background-color: #97FB57;
    color: #121212;
    flex-wrap: wrap;
    margin-left: auto;
    font-size: 2vh;
}

.upload-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vh;
    width: 8vh;
    border-radius: 50%;
    background-color: #909090;
    background-image: url('~/public/Avatar.png');
    background-size: cover;
    background-position: center;
}

.upload-label{
    margin-top: 5vh;
    padding: 0.3vh 1vh;
    border-radius: 0.5rem;
    background-color: #97FB57;
    font-size: 1.5vh;
}

.label{
    font-size: 1.5vh;
}

.buttonscontainer{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-top: 2vh;
    gap: 3vw;
}
.success{
    height: 1.5vh;
    font-size: 1.5vh;
    color: #97FB57;
}

@media (min-width: 600px){
    .container form{

        height: 100vh;
        width: 60%;

    }
}
