.container{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom:0;
    right: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(0deg, #909090 0%, #F6F2F2 75%);

}

.formcontainer{
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
    align-items: center;
    justify-content: center;

}

.label{
    font-size: 2vh;
}

.button{
    cursor: pointer;
    margin: 1rem;
    width: 4rem;
    height: 1.5rem;
    border-radius: 0.5rem;
    border: 0px;
    background-color: #97FB57;
    color: #121212;
    flex-wrap: wrap;
    margin-left: auto;
    font-size: 2vh;
}

.upload-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
    width: 15vh;
    border-radius: 50%;
    background-color: #909090;
    background-image: url('~/public/Avatar.png');
    background-size: cover;
    background-position: center;
}

.upload-label{
    margin-top: 10vh;
    padding: 0.5vh 1vw;
    border-radius: 0.5rem;
    background-color: #97FB57;
    font-size: 2vh;
}
.success{
    height: 2vh;
    font-size: 2vh;
    color: #97FB57;
}

@media (min-width: 600px){

    .container{
        width: 60vw;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
}