.container form{
    position: absolute;
    display: flex;
    height:60%;
    width:90%;
    gap: 0.5rem;
    background: linear-gradient(180deg, #909090 0%, #F6F2F2 100%);
    color: #121212;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 2rem;
    border-radius: 0.5rem;
    padding: 1rem;
}

.button{
    margin: 1rem;
    width: 6rem;
    height: 2rem;
    border-radius: 0.5rem;
    border: 0px;
    background-color: #97FB57;
    color: #121212;
    flex-wrap: wrap;
    margin-left: auto;
}

.upload-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    background-color: #909090;
    background-image: url('~/public/Avatar.png');
    background-size: cover;
    background-position: center;
}

.upload-label{
    margin-top: 5rem;
    padding: 0.4rem 1rem;
    border-radius: 0.5rem;
    background-color: #97FB57;
}
