.container{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom:0;
    right: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: #65655E;

}

.formcontainer{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    align-items: center;
    justify-content: center;

}

.input::placeholder{
    opacity:0;
}

.label{
    position:relative;
    margin-top: 1vh;
    font-size: 1.75vh;
}

.span{
    position:absolute;
    top:25%;
    left: 1vh;
    font-size: 2.5vh;
    transition-duration:300ms;
    opacity: 0.5;
}

.label:focus-within > .span,
input:not(:placeholder-shown) + .span{
    background-color: #FFFFFF;
    font-size: 1.75vh;
    transform:translateY(-2.5vh);
    opacity: 1;
}

.container input[type="text"],
.container input[type="date"],
.container input[type="number"]{
    width: 40vw;
    height: 5vh;
    font-size: 2.5vh;
}

.button{
    cursor: pointer;
    margin: 1vh;
    width: 20vw;
    height: 2rem;
    border-radius: 0.5rem;
    border: 0px;
    background-color: #648DE5;
    color: #FFFFFF;
    flex-wrap: wrap;
    font-size: 2vh;
}

.buttonscontainer{

    margin-top: 2vh;
}

.upload-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 10vh;
    margin-bottom: 2vh;
    border-radius: 50%;
    background-color: #909090;
    background-image: url('~/public/Avatar.png');
    background-size: cover;
    background-position: center;
}

.upload-label{
    margin-top: 6vh;
    padding: 0.5vh 1vw;
    border-radius: 0.5rem;
    background-color: #648DE5;
    color: #FFFFFF;
    font-size: 2vh;
}
.success{
    height: 2vh;
    font-size: 2vh;
    color: #97FB57;
}

@media (min-width: 600px){
    .container form{

        height: 100vh;
        width: 60%;

    }
    .container input[type="text"],
    .container input[type="date"],
    .container input[type="number"]{
        width: 20vw;
    }
    .button{
        width: 10vw;
    }
}