.container form{
    position: absolute;
    display: flex;
    height: 85vh;
    width:90%;
    gap: 0.5rem;
    background: var(--main-color);;
    color: var(--dark-color);;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 0.5rem;
    overflow-y: scroll;
}

.container input[type="text"],
.container input[type="date"],
.container input[type="number"]{
    width: 40vw;
    height: 5vh;
    font-size: 2.5vh;
}

.button{
    cursor: pointer;
    width: 20vw;
    height: 2rem;
    border-radius: 0.5rem;
    border: 0px;
    background-color: var(--accent-color);;
    flex-wrap: wrap;
    margin-left: auto;
    font-size: 2vh;
    color: var(--white-color);
}

.upload-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 10vh;
    border-radius: 50%;
    background-color: var(--main-color);
    background-image: url('~/public/Avatar.png');
    background-size: cover;
    background-position: center;
}

.upload-label{
    margin-top: 5vh;
    padding: 0.3vh 1vh;
    border-radius: 0.5rem;
    background-color: var(--accent-color);;
    font-size: 1.5vh;
    color: var(--white-color);
}

.input::placeholder{
    opacity:0;
}

.label{
    position:relative;
    margin-top: 1vh;
    font-size: 1.75vh;
}


.span{
    position:absolute;
    top:25%;
    left: 1vh;
    font-size: 2.5vh;
    transition-duration:300ms;
    opacity: 0.5;
}

.label:focus-within > .span,
input:not(:placeholder-shown) + .span{
    background-color: var(--white-color);
    font-size: 1.75vh;
    transform:translateY(-2.5vh);
    opacity: 1;
}

.buttonscontainer{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-top: 2vh;
    gap: 1vw;
}
.success{
    height: 1.5vh;
    font-size: 1.5vh;
    color: #97FB57;
}

@media (min-width: 600px){
    .container form{

        height: 100vh;
        width: 60%;

    }
    .container input[type="text"],
    .container input[type="date"],
    .container input[type="number"]{
        width: 20vw;
    }
    .button{
        width: 10vw;
    }
}
