.container{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 8rem;
    width: 100%;
    gap: 2rem;
    bottom:0;
}
.ihome{
   position: relative;
   display: flex;
   gap: 0.5rem;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   height: 2rem;
}
.iexercises{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    justify-content: flex-end;
    height: 3rem;     
}
.icoinline{
    display: flex;
    flex-direction: row;
    height: 1rem;
}