.container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
    align-items: center;
    height: 6vh;
    width: 100%;
    border-bottom: solid 1px #97FB57;
}

.profile{
    display: flex;
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
    margin: 2vh 0 2vh 0;
    border: 1px solid #F6F2F2;
}