.container{
    position: absolute;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 95vh;
    width: 95vw;
    padding: 0.5rem;
    background-color: #F6F2F2;

}
.menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.menuitem{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    background-color: #909090;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.detailscontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
    gap: 4vh;
}
.detailsitemcontainer{
    display: flex;
    flex-direction: row;
    gap: 1vh;
    padding: 1vh;
    border-radius: 5px;;
    background-color: #909090;
}
.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 8rem;
    gap: 1vh;
    background-color: #F6F2F2;
    padding: 1vh;;
    border-radius: 0.5rem;;
}
.image{
    display: flex;
    height: 3vh;
    width: 3vh;
    border: 0px solid #97FB57;
    border-radius: 50%;
    padding: 4vh;
    background-size: cover;
    background-position: center;
}
.chart{
    position: relative;
    width: auto;
    height: 25vh;
}

.rendercontainer{
    position: relative;
    display: flex;
    height: 25vh;
    width: 95vw;
    flex-direction: column;
    margin-top: 2vh;;
    gap: 1vh;
    overflow-y: auto;
    font-size: 10px;
}
.itemslabelcontainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 2vh;
}
.itemscontainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.items{
    width: 4rem;
    text-align: center;
    font-size: 10px;;
}
.trash{
    color: #c06363;
    width: 0.7rem;
}
.selectstatscontainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.75rem;
    padding: 0.5rem;
}
.selectcontainer{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    font-size: 0.75rem;
    padding: 0.5rem;
    width: 50vw;
}
.option{
    font-size: 12px;
    border-radius: 5px;
    padding: 2px;
    border: none;
    background-color:#97FB57;
    color: #121212;
}
.statscontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    width: 50vw;
    padding: 0.5rem;;

}
.statsitemscontainer{
    display: flex;
    flex-direction: row;

}
.statsitem{
    display: flex;
    flex-direction: row;
    width: 3rem;
}