.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
    width: 100vw;
    padding: 0.5rem;
    background-color: var(--main-color);
    color: var(--white-color);

}
.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4vh;
}
.menuitem{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    background-color: var(--accent-color);;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: var(--white-color);
}

.detailscontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
    gap: 4vh;
}
.detailsitemcontainer{
    display: flex;
    flex-direction: row;
    gap: 1vh;
    padding: 1vh;
    border-radius: 5px;;
    background-color: var(--light-color);
}
.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 8rem;
    gap: 1vh;
    background-color: var(--main-color);
    padding: 1vh;
    border-radius: 0.5rem;
}
.image{
    display: flex;
    height: 3vh;
    width: 3vh;
    border-radius: 50%;
    padding: 4vh;
    background-size: cover;
    background-position: center;
}
.chart{
    position: relative;
    width: auto;
    height: 25vh;
}

.rendercontainer{
    position: relative;
    display: flex;
    height: 26vh;
    width: 95vw;
    flex-direction: column;
    margin-top: 2vh;;
    gap: 1vh;
    overflow-y: auto;
    font-size: 10px;
}
.itemslabelcontainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 2vh;
}
.itemscontainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.items{
    width: 4rem;
    text-align: center;
    font-size: 10px;
}
.trash{
    cursor: pointer;
    color: #c06363;
    width: 0.7rem;
}
.selectstatscontainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.75rem;
    padding: 0.5rem;
}

.selectcontainer{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    font-size: 0.75rem;
    padding: 0.5rem;
    width: 50vw;
}

.select {
    font-size: 12px;
    border-radius: 5px;
    padding: 2px;
    border: none;
    background-color: var(--accent-color);
    color: var(--white-color);
}

.statscontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    width: 50vw;
    padding: 0.5rem;;

}
.statsitemscontainer{
    display: flex;
    flex-direction: row;

}
.statsitem{
    display: flex;
    flex-direction: row;
    width: 3rem;
}
.loading{
    display: flex;
    justify-content: center;
    align-items: center;
}
.daterangepicker{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5vh;;
}
.filterby {
    font-size: 0.7rem;
    text-align: center;
}

@media (min-width: 600px){

    .container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100vh;
        width: 60vw;
    }

    .rendercontainer{
        width: 60vw;
        height: 18vh;
    }
    
}