html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Varta', sans-serif;
}
.colorPallete{
  --accent-color: #97FB57;
  --dark-color: #121212;
  --main-color: #909090;
  --light-colot: #F6F2F2;
}
a {
  color: #121212;
  text-decoration: none;
}
input[type="text"], input[type="date"]{
  border: 1px solid #929292;
  height: 1.5rem;
  border-radius: 0.25rem;
  background-color: #F6F2F2;
  transition: 0.25s;
  outline: none;
}

input[type="text"]:focus {
  border: 3px solid #929292;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: light;
  }
  body {
    color: #F6F2F2;
    background: #909090;
  }
}
