html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Varta', sans-serif;
}
.colorPallete{
  --accent-color: #97FB57;
  --dark-color: #121212;
  --main-color: #929292;
  --light-colot: #F6F2F2;
}
a {
  color: #121212;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: light;
  }
  body {
    color: #121212;
    background:#F6F2F2;
  }
}
