body, html {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: 'Varta', sans-serif;
}
.colorPallete{
  --accent-color: #97FB57;
  --dark-color: #121212;
  --main-color: #909090;
  --light-colot: #F6F2F2;
}
a {
  color: #121212;
  text-decoration: none;
}
input[type="text"], input[type="date"]{
  border: 1px solid #929292;
  
  height: 1.5rem;
  border-radius: 0.25rem;
  background-color: #F6F2F2;
  transition: 0.25s;
  outline: none;
}

input[type="time"]::-webkit-calendar-picker-indicator { }

input[type="text"]:focus {
  border: 2.5px solid #929292;
}

input[type="radio"] {
  margin-top: 0px;
  vertical-align: middle;
}

* {
  box-sizing: border-box;
}


